@import "vars";
@import "fonts";
@import "libs";
@import "./_mixins/media"; // Always at the end

.container {
    width: 1170px;
    margin: 0 auto;

    @include respondMin(lgTo) {
        width: 100%;
    }
}

.mainWrap {
    
    .mainTask {
        padding: 50px 0 80px;
        background: linear-gradient(to bottom, #fafafa 36%,#ffffff 36%);

        &_content {
            margin-bottom: 50px;

            @include respondMin(lgTo) {
                text-align: center;
            }

            &_title {
                width: 304px;
                height: 52px;
                color: #010101;
                font-size: 32px;
                font-family: $ProximaNova-Semibold;
                background: #ffffff;
                box-shadow: 0 0 27px rgba(200, 208, 212, 0.52);
                border-left: 2px solid #ce3a41;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 31px;
                box-sizing: border-box;

                @include respondMin(lgTo) {
                    margin: 0 auto 31px;
                }

                @include respondMin(esTo) {
                    width: 100%;
                }
            }

            &_desc {
                width: 968px;
                color: #1b1b24;
                font-size: 18px;
                font-family: $ProximaNova-Regular;
                line-height: 30px;

                @include respondMin(lgTo) {
                    width: 100%;
                }

                span {
                    font-family: $ProximaNova-Semibold;
                }
            }
        }

        &_slider {
            width: 1170px;
            height: 760px;
            padding: 50px 0;
            border-radius: 6px;
            box-shadow: 0 0 27px rgba(200, 208, 212, 0.52);
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            @include respondMin(lgTo) {
                width: 100%;
            }
    
            @include respondCustom(576px, 767px) {
                height: 600px;
            }
    
            @include respondCustom(400px, 575px) {
                height: 460px;
                padding: 0;
            }

            @include respondCustom(0, 399px) {
                height: 400px;
                padding: 0;
            }
    
            &_slides {
                width: 100%;
            }
    
            &_slide {
                height: 700px;
    
                @include respondCustom(576px, 767px) {
                    height: 540px;
                }
    
                @include respondCustom(0, 575px) {
                    height: 400px;
                }
            }
    
            &_slide1 {
                background: url(../img/mainTask_slide1.png) no-repeat center;
                background-size: contain;
            }
    
            &_slide2 {
                background: url(../img/mainTask_slide2.png) no-repeat center;
                background-size: contain;
            }
    
            &_slide3 {
                background: url(../img/mainTask_slide3.png) no-repeat center;
                background-size: contain;
            }
    
            .owl-nav {
    
                .owl-prev {
                    width: 45px;
                    height: 14px;
                    background: url(../img/slideBtn_arrow.png) no-repeat;
                    transform: rotate(180deg);
                    position: absolute;
                    left: 8%;
                    bottom: 8%;
                    outline: none;
    
                    &:active {
                        transform: rotate(0deg);
                        background: url(../img/slideBtn_arrow_active.png) no-repeat;
                    }
                    
                    span {
                        display: none;
                    }
                }
    
                .owl-next {
                    width: 45px;
                    height: 14px;
                    background: url(../img/slideBtn_arrow.png) no-repeat;
                    position: absolute;
                    right: 8%;
                    bottom: 8%;
                    outline: none;
    
                    &:active {
                        transform: rotate(180deg);
                        background: url(../img/slideBtn_arrow_active.png) no-repeat;
                    }
    
                    span {
                        display: none;
                    }
                }
            }
    
            .owl-dots {
                position: absolute;
                bottom: 7%;
                
                .owl-dot {
                    width: 30px;
                    outline: none;
    
                    span {
                        width: 11px;
                        height: 11px;
                        background-color: #bfbfbf;
                        border-radius: 0;
                    }
                }
    
                .active {
                    span {
                        background-color: #a81f22;
                    }
                }
            }
        }
    }

    .task {
        padding: 70px 0 46px;
        background: #FAFAFA;

        &_title {
            width: 150px;
            height: 52px;
            color: #010101;
            font-size: 32px;
            font-family: $ProximaNova-Semibold;
            background: #ffffff;
            box-shadow: 0 0 27px rgba(200, 208, 212, 0.52);
            border-left: 2px solid #ce3a41;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 36px;
            box-sizing: border-box;

            @include respondMin(lgTo) {
                margin: 0 auto 36px;
            }

            @include respondMin(esTo) {
                width: 100%;
            }
        }

        &_client {
            background: #FFFFFF;
            padding: 32px;
            margin-bottom: 30px;
            box-shadow: 0 0 18px 2px #e4e4e4;

            &_top {
                display: flex;
                align-items: center;
                margin-bottom: 14px;
            }

            &_title {
                color: #1b1b24;
                font-size: 20px;
                font-family: $ProximaNova-Semibold;
                margin-left: 10px;
            }

            &_text {
                font-size: 18px;
                color: #1b1b24;
                line-height: 30px;
                letter-spacing: -0.02px;
                font-family: $ProximaNova-Regular;
                width: 982px;

                @include respondMin(lgTo) {
                    width: 100%;
                }

                &:nth-child(2) {
                    margin-bottom: 12px;
                }

                span {
                    font-family: $ProximaNova-Semibold;
                }
            }

            @include respondCustom(0, 300px) {
                padding: 32px 0;
            }
        }

        &_data {
            background: #FFFFFF;
            padding: 32px;
            margin-bottom: 30px;
            box-shadow: 0 0 18px 2px #e4e4e4;

            &_top {
                display: flex;
                align-items: center;
                margin-bottom: 14px;
            }

            &_title {
                color: #1b1b24;
                font-size: 20px;
                font-family: $ProximaNova-Semibold;
                margin-left: 10px;
            }

            &_text {
                font-size: 18px;
                color: #1b1b24;
                line-height: 30px;
                letter-spacing: -0.02px;
                font-family: $ProximaNova-Regular;
                width: 1000px;

                @include respondMin(lgTo) {
                    width: 100%;
                }
            }

            @include respondCustom(0, 300px) {
                padding: 32px 0;
            }
        }

        &_tasks{
            background: #FFFFFF;
            padding: 32px;
            margin-bottom: 30px;
            box-shadow: 0 0 18px 2px #e4e4e4;

            &_top {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }

            &_title {
                color: #1b1b24;
                font-size: 20px;
                font-family: $ProximaNova-Semibold;
                margin-left: 10px;
            }

            .stage {

                &:nth-child(2) {
                    margin-bottom: 20px;
                }

                &_title {
                    font-family: $ProximaNova-Semibold;
                    color: #1b1b24;
                    font-size: 18px;
                    margin-bottom: 12px;
                }

                &_lists {
                    

                    &_item {
                        background: url(../img/lists_icon.png) no-repeat 0 14px;
                        color: #1b1b24;
                        font-size: 18px;
                        line-height: 34px;
                        margin-left: 30px;
                        padding-left: 36px;
                        font-family: $ProximaNova-Regular;
                        box-sizing: border-box;

                        @include respondCustom(0, 300px) {
                            padding-left: 16px;
                        }
                    }
                }
            }

            @include respondCustom(0, 300px) {
                padding: 32px 0;
            }
        }
    }

    .made {
        padding: 72px 0 10px;
        background: #FFFFFF;

        &_title {
            width: 321px;
            height: 52px;
            color: #010101;
            font-size: 32px;
            font-family: $ProximaNova-Semibold;
            background: #ffffff;
            box-shadow: 0 0 27px rgba(200, 208, 212, 0.52);
            border-left: 2px solid #ce3a41;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 44px;
            box-sizing: border-box;

            @include respondMin(lgTo) {
                margin: 0 auto 44px;
            }

            @include respondMin(esTo) {
                width: 100%;
            }
        }

        &_block {
            padding: 25px 25px 29px 25px;
            box-shadow: 0 3px 8px rgba(83, 83, 83, 0.15);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 30px;

            &:nth-child(3){
                .made_block_leftSide {
                    @include respondCustom(768px, 1199px) {
                        width: 479px;
                    }
                }
            }

            &:nth-child(4){
                padding: 23px 24px 24px 25px;

                @include respondCustom(0, 300px) {
                    padding: 24px 0;
                }
            }

            &:nth-child(5){
                padding: 25px 25px 14px 25px;

                .made_block_leftSide_inside {
                    margin-bottom: 26px;
                }

                @include respondCustom(0, 300px) {
                    padding: 24px 0;
                }
            }

            @include respondMin(lgTo) {
                flex-direction: column;
                align-items: center;
            }

            @include respondCustom(0, 300px) {
                padding: 24px 0;
            }

            &_leftSide {
                display: flex;
                flex-direction: column;

                &_inside {
                    display: flex;
                    align-items: center;
                    margin-bottom: 14px;
                }
            }

            &_number {
                width: 65px;
                height: 65px;
                background-image: linear-gradient(-269deg, #ae1f22 0%, #be1d21 100%);
                color: #ffffff;
                font-size: 30px;
                font-family: $ProximaNova-Regular;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_title {
                width: 380px;
                color: #1b1b24;
                font-family: $ProximaNova-Semibold;
                font-size: 20px;
                margin-left: 34px;

                @include respondMin(esTo) {
                    width: 100%;
                }
            }

            &_desc {
                color: #1b1b24;
                font-family: $ProximaNova-Regular;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 12px;

                @include respondMin(smTo) {
                    width: 100%;
                }
            }

            &_listItem {
                width: 460px;
                background: url(../img/lists_icon.png) no-repeat 0 10px;
                font-family: $ProximaNova-Regular;
                color: #1b1b24;
                font-size: 18px;
                padding: 1px 0 0 38px;
                line-height: 24px;
                margin-bottom: 10px;
                box-sizing: border-box;

                @include respondMin(esTo) {
                    width: 100%;
                    padding: 1px 0 0 18px;
                }
            }

            &_img {
                @include respondCustom(576px, 767px) {
                    width: 500px;
                }

                @include respondCustom(0px, 575px) {
                    width: 100%;
                }
            }
        }
    }

    .result {
        padding: 50px 0 100px;
        background: linear-gradient(to bottom, #fafafa 27%,#ffffff 27%);
        text-align: center;

        &_content {
            margin-bottom: 44px;

            @include respondMin(lgTo) {
                text-align: center;
            }

            &_title {
                width: 210px;
                height: 52px;
                color: #010101;
                font-size: 32px;
                font-family: $ProximaNova-Semibold;
                background: #ffffff;
                box-shadow: 0 0 27px rgba(200, 208, 212, 0.52);
                border-left: 2px solid #ce3a41;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 32px;
                box-sizing: border-box;

                @include respondMin(lgTo) {
                    margin: 0 auto 32px;
                }

                @include respondMin(esTo) {
                    width: 100%;
                }
            }

            &_desc {
                width: 1020px;
                color: #1b1b24;
                font-size: 18px;
                font-family: $ProximaNova-Regular;
                line-height: 30px;

                @include respondMin(lgTo) {
                    width: 100%;
                }

                span {
                    font-family: $ProximaNova-Semibold;
                }
            }
        }

        &_slider {
            width: 1170px;
            height: 800px;
            padding: 50px 0 6px;
            border-radius: 6px;
            box-shadow: 0 0 27px rgba(200, 208, 212, 0.52);
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            @include respondMin(lgTo) {
                width: 100%;
            }
    
            @include respondCustom(576px, 767px) {
                height: 600px;
            }
    
            @include respondCustom(400px, 575px) {
                height: 460px;
                padding: 0;
            }

            @include respondCustom(0, 399px) {
                height: 400px;
                padding: 0;
            }
    
            &_slides {
                width: 100%;
            }
    
            &_slide {
                height: 700px;
    
                @include respondCustom(576px, 767px) {
                    height: 540px;
                }
    
                @include respondCustom(0, 575px) {
                    height: 400px;
                }
            }
    
            &_slide1 {
                background: url(../img/result_slide1.png) no-repeat center;
                background-size: contain;
            }
    
            &_slide2 {
                background: url(../img/result_slide2.png) no-repeat center;
                background-size: contain;
            }
    
            &_slide3 {
                background: url(../img/result_slide3.png) no-repeat center;
                background-size: contain;
            }
    
            .owl-nav {
    
                .owl-prev {
                    width: 45px;
                    height: 14px;
                    background: url(../img/slideBtn_arrow.png) no-repeat;
                    transform: rotate(180deg);
                    position: absolute;
                    left: 8%;
                    bottom: 10%;
                    outline: none;
    
                    &:active {
                        transform: rotate(0deg);
                        background: url(../img/slideBtn_arrow_active.png) no-repeat;
                    }
                    
                    span {
                        display: none;
                    }

                    @include respondCustom(0, 399px) {
                        bottom: 13%;
                    }
                }
    
                .owl-next {
                    width: 45px;
                    height: 14px;
                    background: url(../img/slideBtn_arrow.png) no-repeat;
                    position: absolute;
                    right: 8%;
                    bottom: 10%;
                    outline: none;
    
                    &:active {
                        transform: rotate(180deg);
                        background: url(../img/slideBtn_arrow_active.png) no-repeat;
                    }
    
                    span {
                        display: none;
                    }

                    @include respondCustom(0, 399px) {
                        bottom: 13%;
                    }
                }
            }
    
            .owl-dots {
                position: absolute;
                bottom: 9%;
                
                .owl-dot {
                    width: 30px;
                    outline: none;
    
                    span {
                        width: 11px;
                        height: 11px;
                        background-color: #bfbfbf;
                        border-radius: 0;
                    }
                }
    
                .active {
                    span {
                        background-color: #a81f22;
                    }
                }

                @include respondCustom(0, 399px) {
                    bottom: 13%;
                }
            }

            &_pos {
                color: #9b9b9b;
                font-size: 14px;
                font-family: $ProximaNova-Regular;
                margin-top: 54px;    
            }
        }

        &_price {
            color: #1b1b24;
            font-family: $ProximaNova-Semibold;
            font-size: 26px;
            line-height: 30px;
            margin: 50px 0 84px;

            span {
                color: #a81f22;
            }
        }

        &_btn {
            color: #0245ed;
            font-family: $ProximaNova-Regular;
            font-size: 16px;
            width: 262px;
            height: 52px;
            border: 3px solid #0245ed;
            background: #fff;
            cursor: pointer;

            &:active {
                color: #fff;
                background: #0245ed;
            }

            @include respondCustom(0, 300px) {
                width: 100%;
            }
        }
    }

    .applicationForm {
        background: #F0F0F0;

        &_container {
            width: 1400px;
            margin: 0 auto;

            @include respondCustom(0, 1400px) {
                width: 100%;
            }
        }

        &_inner {
            padding: 40px 20px;
            display: flex;
            justify-content: space-between;

            @include respondCustom(0, 1400px) {
                flex-direction: column;
                align-items: center;
            }

            @include respondMin(esTo) {
                padding: 10px;
            }

            .form {
                width: 720px;
                font-family: $ProximaNova-Regular;

                @include respondCustom(0, 1400px) {
                    margin-bottom: 50px;
                }

                @include respondMin(smTo) {
                    width: 100%;
                }

                &_title {
                    font-family: $ProximaNova-Bold;
                    font-size: 32px;
                    letter-spacing: 1px;
                    margin-bottom: 30px;

                    span {
                        font-size: 16px;
                    }
                }

                &_data {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 50px;

                    @include respondMin(esTo) {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                &_item {
                    border: 3px solid #bfbfbf;
                    background: none;
                    height: 48px;
                    width: 220px;
                    font-size: 18px;
                    padding: 0 14px;
                    outline: none;
                    box-sizing: border-box;

                    &:focus {
                        border: 3px solid #0245ed;
                        background: #fff;
                        transition: all 0.3s ease-in-out;
                    }

                    @include respondCustom(576px, 767px) {
                        width: 150px;
                    }

                    @include respondMin(smTo) {
                        width: 100%;
                        margin: 5px;
                    }
                }

                &_servicesTitle {
                    font-size: 26px;
                    color: #313131;
                    margin-bottom: 20px;
                }
        
                &_services {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 24px;
                }

                &_check {
                    display: block;
                    position: relative;
                    height: 34px;
                    width: 200px;
                    padding: 8px 0 0 42px;
                    box-sizing: border-box;
                    cursor: pointer;
                    margin-bottom: 14px;

                    input[type="checkbox"] {
                        display: none;

                        & + span {
                            position: absolute;
                            border: 2px solid #bfbfbf;
                            width: 28px;
                            height: 28px;
                            top: 0;
                            left: 0;
                            transition: all 0.3s ease-in-out;
                        }

                        &:checked + span {
                            background-color: #fff;
                            border-color: #2947e9;
                            background: url(../img/form_check.png) no-repeat;
                        }
                    }

                    @include respondCustom(0, 400px) {
                        width: 100%;
                    }
                }
        
                &_description {
                    width: 100%;
                    height: 114px;
                    padding: 10px 15px;
                    border: 3px solid #bfbfbf;
                    background: none;
                    display: block;
                    box-sizing: border-box;
                    font-size: 16px;
                    font-family: $ProximaNova-Regular;
                    margin-bottom: 12px;

                    &:focus {
                        border: 3px solid #0245ed;
                        background: #fff;
                        transition: all 0.3s ease-in-out;
                    }
                }
        
                &_agreed {
                    width: 100%;

                    &_blueText {
                        color: #386dea;
                        text-decoration: underline;
                    }
                }
        
                &_sendBtn {
                    height: 54px;
                    font-size: 22px;
                    color: #fff;
                    box-sizing: border-box;
                    background: linear-gradient(to right, #0245ed 0%,#386dea 30%,#386dea 70%,#0245ed 100%);
                    border: none;
                    outline: none;
                    padding: 0 26px;
                    box-shadow: inset 0 -4px 0 #0034AC;
                    transition: all 0.3s ease-in-out;

                    &:active {
                        transform: scale(0.97);
                    }
                }
            }

            .callback {
                border: 3px solid #0245ed;
                padding: 48px 0px 0px 80px;
                font-family: $ProximaNova-Regular;
                width: 560px;
                height: 420px;
                box-sizing: border-box;

                @include respondMin(esTo) {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                }

                &_title {
                    font-family: $ProximaNova-Bold;
                    font-size: 32px;
                    letter-spacing: 2.2px;
                    margin-bottom: 18px;
                }

                &_time {
                    font-size: 16px;
                    margin-bottom: 22px;
                }

                &_call {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                &_phone {
                    font-size: 24px;
                    color: #000;
                    display: block;
                }

                &_phone1 {
                    margin-bottom: 9px;
                }

                &_phone2 {
                    font-family: $ProximaNova-Bold;
                    letter-spacing: 1.5px;
                    margin-bottom: 9px;
                }

                &_phone3 {
                    font-family: $ProximaNova-Bold;
                    letter-spacing: 1.5px;
                    margin-bottom: 21px;
                }

                &_popup {
                    font-family: $ProximaNova-Regular;
                    margin-bottom: 26px;

                    &_inner {
                        color: #2946e9;
                        cursor: pointer;
                        position: relative;
                        font-size: 22px;
                        
                        &::after {
                            position: absolute;
                            content: '';
                            bottom: 3px;
                            left: 0;
                            right: 0;
                            border-bottom: 1px dashed #2946e9;
                        }
                    }
                }

                &_email {
                    font-size: 26px;
                    letter-spacing: -0.4px;

                    &_inner {
                        font-family: $ProximaNova-Bold;
                        cursor: pointer;
                    }
                }
            }

            .popup {
                width: 300px;
                height: 300px;
                position: fixed;
                top: calc(50% - 100px);
                left: calc(50% - 150px);
                background: #F0F0F0;
                border: 3px solid #2946e9;
                padding: 50px 30px;
                display: none;
                z-index: 1;
                box-sizing: border-box;
            
                @include respondMin(esTo) {
                    width: 100%;
                    left: 0;
                    padding: 50px 0;
                }
            
                &_close {
                    position: absolute;
                    cursor: pointer;
                    background: #fff;
                    padding: 10px;
                    top: 1px;
                    right: 1px;
                    border: 1px solid #2946e9;
                    
                    &:hover {
                        background: #F9F7A6;
                    }
                }

                &_form {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}